<% content_for :title do %>
  Help
<% end %>
<% content_for :content do %>
  <!-- put content here //-->
    <h2 class="entry-title">ArcGIS Plugin</h2>
	<p><a href="http://www2.informatik.hu-berlin.de/~rhan/GDX/GDX_Plugin.zip">Download</a></p>
	<p><a href="http://www2.informatik.hu-berlin.de/~rhan/GDX/index.htm">Online Help</a></p>
<% end %>
