<h3>Home</h3>
<% @users.each do |user| %>
  <p>User: <%= user.name %></p>
<% end %>

<h3>Uploads</h3>
<p>
  You can find a searchable list of uploads by following the link
  <%= link_to "/uploads", "/uploads" %>. Note that you have to be authenticated
  as a user to access that page.
</p>
